@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    border: 1px solid black;
    gap: 5px;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3; 
}

#menu {
    grid-area: 2 / 1 / 3 / 3;
}

#principal {
    grid-area: 3 / 1 / 4 / 2;
}

#secundario {
    grid-area:  3 / 2 / 4 / 3;
}

#rodape {
    grid-area: 4 / 1 / 5 / 3;
}