body {
    background-color: black;
}

h1,body {
    color: white;
    text-align: center;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.seta-esquerda {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid white;
}


