@charset "UTF-8";

.container {
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.caixa1 {
    background-color: aquamarine;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

    /* OU */
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2 {
    background-color: coral;
    grid-row-start: 2;
    grid-row-end: 4;   
    grid-column-start: 1;
    grid-column-end: 3; 
    
    /* OU */
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: gold;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    /* OU */
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}